@tailwind base;
@tailwind component;
@tailwind utilities;

/* todo: trim */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn-pill {
    @apply whitespace-nowrap text-black shadow-md rounded-full px-3 lowercase items-center h-8 font-display focus:ring-primary-400 focus:ring-opacity-75 focus:ring-2 focus:outline-none focus:bg-yellow-500 flex cursor-pointer;
  }
  .btn-pill:disabled {
    @apply bg-primary-500 cursor-default hover:bg-primary-500;
  }

  .btn-primary {
    @apply bg-primaryAction-600 hover:bg-primaryAction-400 text-primary-900;
  }

  .tag {
    @apply align-middle bg-primary-900 border border-primary-900 flex font-mono items-center px-2 py-1 rounded text-primary-200 text-xs whitespace-nowrap;
  }

  .tag-on-dark {
    @apply bg-primary-700 border-primary-700;
  }

  .tag-btn {
    @apply border-primary-700 cursor-pointer hover:border-primaryAction-600;
  }

  .tag-btn:disabled {
    @apply bg-opacity-40 border-primaryAction-700 cursor-default hover:border-primaryAction-700 text-primary-400;
  }
}
