@tailwind base;
@tailwind component;
@tailwind utilities;

/* todo: trim */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn-pill {
    @apply px-3 h-8 rounded-full flex items-center lowercase font-display shadow-md text-black whitespace-nowrap focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75 focus:bg-yellow-500;
  }
  .btn-pill:disabled {
    @apply cursor-default bg-primary-500;
  }

  .btn-primary {
    @apply text-primary-900 bg-primaryAction-600 hover:bg-primaryAction-400;
  }

  .tag {
    @apply text-primary-200 bg-primary-900 text-xs px-2 py-1 rounded whitespace-nowrap flex items-center align-middle;
  }

  .tag-outline {
    @apply bg-primary-700;
  }
}
