ul.props {
  list-style-type: none;
}

li.li {
  /* border: 1px solid cornflowerblue; */
}

.moveName {
  font-family: "Jetbrains Mono", sans serif;
  font-weight: 400;
  color: black;
}

.min {
  font-family: "Jetbrains Mono", sans serif;
  font-weight: 100;
}
